.swiper {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  background: "./images/png/hero-img.png";
  object-fit: cover;
}

@media screen and (max-width: 725px) {
  .swiper-slide {
    border-radius: 0 !important;
  }
}
