.mobile-nav.active {
  visibility: visible;
  opacity: 1;
}

.header-second__list.active,
.mobile-nav__item.active {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.header-second__list.active {
  transform: translateY(0);
}

.overlay.active {
  opacity: 0.5;
}

.header-second__item ul.active {
  opacity: 1;
  visibility: visible;
}
